---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import i18next, { t } from "i18next";
import { LOCALES } from "@lib/constants";
export const getStaticPaths = (() => {
  return LOCALES.map((locale) => ({
    params: {
      locale,
    },
  }));
}) satisfies GetStaticPaths;

const { locale } = Astro.params;

i18next.changeLanguage(locale);
---

<Layout title="Willkommen">
  <main>
    <h1>Welcome</h1>
    <p>{t("global.test")}</p>
  </main>
</Layout>
