---
import type { GetStaticPaths } from "astro";
import { fetchApi } from "@lib/strapi";
import type { Blogpost } from "@lib/api-types";
import Layout from "@layouts/Layout.astro";
import { LOCALES } from "@lib/constants";

export const getStaticPaths = (async () => {
  const blogposts = (
    await Promise.all(
      LOCALES.map((locale) =>
        fetchApi<Blogpost[]>({
          endpoint: "blogposts",
          query: {
            locale,
          },
        }),
      ),
    )
  ).flat();

  return blogposts.map((blogpost) => ({
    params: {
      locale: blogpost.attributes.locale,
    },
  }));
}) satisfies GetStaticPaths;

const { locale } = Astro.params;

const blogposts = await fetchApi<Blogpost[]>({
  endpoint: "blogposts",
  query: {
    locale,
  },
});
---

<Layout title="News & Blog">
  {
    blogposts.map((blogpost) => (
      <div class="mb-12">
        <h2>{blogpost.attributes.title}</h2>
        <p>{blogpost.attributes.teaser}</p>
        <a href={`/${locale}/blog/${blogpost.attributes.slug}`}>Learn more</a>
      </div>
    ))
  }
</Layout>
