@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  outline-offset: 0;
  outline: 2px solid transparent;
}

*:focus-visible:not(summary) {
  outline-color: #065986;
  outline-offset: 2px;
  transition: outline-offset 150ms ease-out;
}

.no-marker summary::-webkit-details-marker {
  display: none;
}

div:has(> details > summary:focus-visible) {
  outline-color: #065986;
  outline-offset: 24px;
  transition: outline-offset 150ms ease-out;
}

@layer components {
  .underline-effect {
    @apply relative before:absolute before:bottom-0 before:left-0 before:h-0.5 before:w-full before:origin-right before:scale-x-0 before:bg-primary-700 before:transition-transform before:duration-300 before:ease-[ease-in-out] before:content-[''] hover:before:origin-left hover:before:scale-x-100;
  }
}
